<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <form action="" method="post">
        <label>
            Test 1
            <input type="text" name="F1T1" required />
        </label>
        <br>
        <label>
            Test 2
            <input type="text" name="F1T2" required />
        </label>
        <input type="submit" name="F1S" />

    </form>
    <form action="" method="post">
        <label>
            Test 1
            <input type="text" name="F2T1" required />
        </label>
        <br>
        <label>
            Test 2
            <input type="text" name="F2T2" required />
        </label>
        <input type="submit" name="F2S" />

    </form>
</body>
</html>